@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    background-color: @primary;
    color: @background;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd
#custom-todo{
    padding: 0 10px;
    color: @foreground;
    background-color: @secondary;
    margin: 5px 2px;
    border-radius: 5px;
}

#clock {
    background-color: @primary;
    color: @background;
}

#idle_inhibitor.activated{
  color: @background;
  background-color: @success;
}

#idle_inhibitor.deactivated{
  color: @foreground;
  background-color: @secondary;
}

#battery.charging, #battery.plugged {
    color: @background;
    background-color: @success;
}

#battery.critical:not(.charging) {
    background-color: @alert;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-todo {
    padding: 0 10px;
    color: @foreground;
    background-color: @secondary;
    margin: 5px 2px;
    border-radius: 5px;
}

#custom-todo.active {
    color: @primary;
    font-weight: bold;
}

#custom-todo.done {
    color: #a6e3a1;
}

#custom-todo .tooltip{
  font-size: 16px;
}
