// Niri configuration — entry point
prefer-no-csd

include "animations.kdl"
include "environment.kdl"
include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "workspaces.kdl"
include "rules.kdl"
include "startup.kdl"
include "binds.kdl"