// Niri configuration — entry point
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd

include "animations.kdl"
include "environment.kdl"
include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "workspaces.kdl"
include "rules.kdl"
include "startup.kdl"
include "binds.kdl"