// niri scripts and plugins
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"

// GTK / theme settings
gsettings set org.gnome.desktop.interface gtk-theme 'adw-gtk3'
gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'  # or 'prefer-light'

// Daemons & system tray
// spawn-at-startup "waybar"
spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "bash" "~/.config/niri/scripts/workspace-wallpaper.sh"
spawn-at-startup "greenclip" "daemon"
spawn-at-startup "hypridle" "-c" "~/.config/niri/niri-idle.conf"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"
spawn-at-startup "conky"

// Screen sharing fix
spawn-at-startup "sh" "-c" "systemctl --user restart xdg-desktop-portal"
