// niri scripts and plugins 
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
spawn-at-startup "python3" "~/.config/niri/scripts/niri_tweaks/niri_tile_to_n.py"
// GTK / theme settings
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "Breeze-Dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "breeze-dark"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "breeze_cursors"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "prefer-dark"

// Daemons & system tray
spawn-at-startup "waybar"
spawn-at-startup "awww-daemon"
spawn-at-startup "greenclip" "daemon"
spawn-at-startup "hypridle" "-c" "~/.config/niri/niri-idle.conf"
spawn-at-startup "swaync"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"

// Screen sharing fix
spawn-at-startup "sh" "-c" "systemctl --user restart xdg-desktop-portal xdg-desktop-portal-gnome"
