// niri scripts and plugins 
spawn-at-startup "python3" "~/.config/niri/scripts/niri_tweaks/niri_tile_to_n.py"
// GTK / theme settings
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "gtk-theme" "catppuccin-mocha-mauve-standard+default"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "icon-theme" "Adwaita"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "cursor-theme" "default"
spawn-at-startup "gsettings" "set" "org.gnome.desktop.interface" "color-scheme" "prefer-dark"

// Daemons & system tray
spawn-at-startup "waybar"
spawn-at-startup "awww-daemon"
spawn-at-startup "greenclip" "daemon"
spawn-at-startup "hypridle" "-c" "~/.config/niri/niri-idle.conf"
spawn-at-startup "swaync"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "nm-applet"
spawn-at-startup "blueman-applet"
